<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a><img src="../../../assets/img/top-offers.png" alt=""></a>
            <h6>All products</h6>
        </div>
        <div class="item">
            <a><img src="../../../assets/img/electronics.png" alt=""></a>
            <h6>Electronics</h6>
        </div>
        <div class="item">
            <a><img src="../../../assets/img/fashion.png" alt=""></a>
            <h6>Fashion</h6>
        </div>
        <div class="item">
            <a><img src="../../../assets/img/jewellery.jpeg" alt=""></a>
            <h6>Jewellery</h6>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="card col-md-3">
                <img src="{{ item.image }}" alt="">
                <h5 class="over-flow">{{item.title}}</h5>
                <p class="over-flow">{{item.description}}</p>
                <p><strong>Price :</strong>${{item.price}}</p>
                <button class="btn btn-primary" (click)="addToCart(item)">Add to cart </button>
            </div>
        </ng-container>
    </div>
</div>