.card{
    position: relative;
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top: 40%;
    left: 45%;
    text-align: center;
}
th{
    padding-left: 35px;
    padding-right: 35px;
}
td{
    padding-left: 35px;
    padding-right: 35px;
}